# Dependencies -----------------------------------------------------------------
node_modules
package-lock.json

# Logs -------------------------------------------------------------------------
logs

# Samples ----------------------------------------------------------------------
samples

# Tests ------------------------------------------------------------------------
coverage
test

# Project Setting --------------------------------------------------------------
.editorconfig
.gitignore
.npmignore
.prettierrc
eslint.config.mjs

# Visual Studio Code -----------------------------------------------------------
.vscode
