# Project Setting
.editorconfig
.gitignore
.npmignore
.prettierrc
eslint.config.mjs

# Dependencies
node_modules
package-lock.json

# Logs
logs

# Samples
samples

# Tests
coverage
test

# Visual Studio Code
.vscode
